In [3]:
'''
This module implements the missing values table in Rattle, using Python

@Author: Charini Nanayakkara
'''

import sys
import pandas as pd

file_name = sys.argv[1]
file_name='data_wrangling_medical_2024_u7568823.csv'
pattern_count_dict = {} # Dictionary to store patterns of row values (as in 
                        # rattle missing file table). The key is a pattern. The
                        # value is a tuple where the first value indicates the
                        # number of times a pattern occurs and the second value
                        # tells the number of variables with missing values per
                        # each pattern. 
table_value_list = [] # Table to contain missing value data as list of lists.
                      # The first value in the sub list is the missing value count 
                      # per row. Second value is a tuple containing the pattern
                      # and the missing variables per pattern.

df = pd.read_csv(file_name)

null_table = df.isnull()
tot_missing_vals_per_var = null_table.sum(axis=0) # Total missing values per variable
total_missing_vals = tot_missing_vals_per_var.sum() # Total missing values

for index, row in null_table.iterrows():
  count,var_no = pattern_count_dict.get(tuple(row),(0,0))
  count += 1
  var_no = sum(row) # True = 1 and False = 0. Therefore, null values are counted
  pattern_count_dict[tuple(row)] = (count,var_no)
  

for key,value in pattern_count_dict.items():
  table_value_list.append([value[0], [int(not item) for item in key] + [value[1]]])
  
table_value_list.sort(reverse=True)

table_value_list.append(['',tot_missing_vals_per_var.tolist() + \
                         [total_missing_vals]])


data = [item[1] for item in table_value_list] # Data to write to table
columns_list = tot_missing_vals_per_var.index.tolist() + ['']
index_list = [item[0] for item in table_value_list]
# Create new pandas DataFrame 
new_df = pd.DataFrame(data, columns = columns_list, index = index_list) 
print('---------------')
print (new_df)

---------------
      rec_id  ssn  first_name  middle_name  last_name  gender  \
5326       1    1           1            1          1       1
3546       1    1           1            1          1       1
2189       1    1           1            1          1       1
1453       1    1           1            1          1       1
1288       1    1           1            1          1       1
896        1    1           1            1          1       1
763        1    1           1            1          1       1
604        1    1           1            0          1       1
576        1    1           1            1          1       1
541        1    1           1            1          1       1
394        1    1           1            1          1       1
380        1    1           1            0          1       1
339        1    1           1            1          1       1
246        1    1           1            0          1       1
234        1    1           1            1          1       1
203        1    1           1            1          1       1
164        1    1           1            0          1       1
143        1    1           1            1          1       1
124        1    1           1            0          1       1
88         1    1           1            0          1       1
83         1    1           1            1          1       1
78         1    1           1            0          1       1
71         1    1           1            0          1       1
61         1    1           1            1          1       1
61         1    1           1            0          1       1
35         1    1           1            0          1       1
35         1    1           1            0          1       1
26         1    1           1            0          1       1
23         1    1           1            0          1       1
18         1    1           1            0          1       1
7          1    1           1            0          1       1
5          1    1           1            0          1       1
           0    0           0         1965          0       0

      age_at_consultation  birth_date  medicare_number  street_address  ...  \
5326                    1           1                1               1  ...
3546                    1           1                1               1  ...
2189                    1           1                1               1  ...
1453                    1           1                1               1  ...
1288                    1           1                1               1  ...
896                     1           1                1               1  ...
763                     1           1                1               1  ...
604                     1           1                1               1  ...
576                     1           1                1               1  ...
541                     1           1                1               1  ...
394                     1           1                1               1  ...
380                     1           1                1               1  ...
339                     1           1                1               1  ...
246                     1           1                1               1  ...
234                     1           1                1               1  ...
203                     1           1                1               1  ...
164                     1           1                1               1  ...
143                     1           1                1               1  ...
124                     1           1                1               1  ...
88                      1           1                1               1  ...
83                      1           1                1               1  ...
78                      1           1                1               1  ...
71                      1           1                1               1  ...
61                      1           1                1               1  ...
61                      1           1                1               1  ...
35                      1           1                1               1  ...
35                      1           1                1               1  ...
26                      1           1                1               1  ...
23                      1           1                1               1  ...
18                      1           1                1               1  ...
7                       1           1                1               1  ...
5                       1           1                1               1  ...
                        0           0                0               0  ...

      marital_status  height  weight  bmi  blood_pressure  cholesterol_level  \
5326               1       1       1    1               1                  1
3546               1       1       1    1               1                  1
2189               1       1       1    1               1                  1
1453               1       1       1    1               1                  1
1288               1       1       1    1               1                  1
896                1       1       1    1               1                  1
763                0       1       1    1               1                  1
604                1       1       1    1               1                  1
576                0       1       1    1               1                  1
541                1       1       1    1               1                  1
394                1       1       1    1               1                  1
380                1       1       1    1               1                  1
339                0       1       1    1               1                  1
246                1       1       1    1               1                  1
234                0       1       1    1               1                  1
203                0       1       1    1               1                  1
164                1       1       1    1               1                  1
143                0       1       1    1               1                  1
124                1       1       1    1               1                  1
88                 1       1       1    1               1                  1
83                 0       1       1    1               1                  1
78                 0       1       1    1               1                  1
71                 0       1       1    1               1                  1
61                 0       1       1    1               1                  1
61                 1       1       1    1               1                  1
35                 0       1       1    1               1                  1
35                 1       1       1    1               1                  1
26                 0       1       1    1               1                  1
23                 0       1       1    1               1                  1
18                 0       1       1    1               1                  1
7                  0       1       1    1               1                  1
5                  0       1       1    1               1                  1
                2665       0       0    0               0                  0

      smoking_status  clinical_notes  consultation_timestamp
5326               1               1                       1      0
3546               1               1                       1      1
2189               1               1                       1      1
1453               1               1                       1      2
1288               1               1                       1      1
896                1               1                       1      2
763                1               1                       1      1
604                1               1                       1      1
576                1               1                       1      2
541                1               1                       1      2
394                1               1                       1      3
380                1               1                       1      2
339                1               1                       1      2
246                1               1                       1      2
234                1               1                       1      3
203                1               1                       1      2
164                1               1                       1      3
143                1               1                       1      3
124                1               1                       1      2
88                 1               1                       1      3
83                 1               1                       1      3
78                 1               1                       1      2
71                 1               1                       1      3
61                 1               1                       1      4
61                 1               1                       1      3
35                 1               1                       1      3
35                 1               1                       1      4
26                 1               1                       1      3
23                 1               1                       1      4
18                 1               1                       1      4
7                  1               1                       1      4
5                  1               1                       1      5
                   0               0                       0  22560

[33 rows x 25 columns]

In [12]:
import sys
import pandas as pd

file_name = sys.argv[1]
file_name='data_wrangling_medical_2024_u7568823.csv'
 

df = pd.read_csv(file_name)
df.info()
df.index
df.columns
df.dtypes
df.values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rec_id                  20000 non-null  object
 1   ssn                     20000 non-null  object
 2   first_name              20000 non-null  object
 3   middle_name             18035 non-null  object
 4   last_name               20000 non-null  object
 5   gender                  20000 non-null  object
 6   age_at_consultation     20000 non-null  int64
 7   birth_date              20000 non-null  object
 8   medicare_number         20000 non-null  object
 9   street_address          20000 non-null  object
 10  suburb                  20000 non-null  object
 11  postcode                16027 non-null  float64
 12  state                   20000 non-null  object
 13  phone                   11913 non-null  object
 14  email                   14130 non-null  object
 15  marital_status          17335 non-null  object
 16  height                  20000 non-null  int64
 17  weight                  20000 non-null  int64
 18  bmi                     20000 non-null  int64
 19  blood_pressure          20000 non-null  int64
 20  cholesterol_level       20000 non-null  int64
 21  smoking_status          20000 non-null  int64
 22  clinical_notes          20000 non-null  object
 23  consultation_timestamp  20000 non-null  object
dtypes: float64(1), int64(7), object(16)
memory usage: 3.7+ MB

array([['rec-43096', 'g180519599', 'matthew', ..., 0, 'trunk-rash',
        '2019-12-20t23:56+00:00'],
       ['rec-63860', 'e141846696', 'john', ..., 0, 'coughing',
        '2019-11-23t19:52+00:00'],
       ['rec-56205', 'h140232568', 'carrie', ..., 0, 'fall',
        '2016-07-05t13:27+00:00'],
       ...,
       ['rec-61563', 'd142145766', 'alfonso', ..., 1,
        'fecal-incontinence', '2015-03-21t08:35+00:00'],
       ['rec-71417', 'a106344017', 'robert', ..., 0, 'thyroid-nodules',
        '2015-12-16t19:40+00:00'],
       ['rec-44490', 'e149412163', 'william', ..., 0, 'dyspnea',
        '2013-09-10t12:25+00:00']], dtype=object)